{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static "css/presentations_detail.css" %}">
{% endblock %}

{% block extra_head %}
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/main_page.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <p class="presentation_company">Presentation for
            <a
                    href="{{ presentation.customer.link }}"
                    class="presentation_company-link"
                    data-color="{{ colors.0.code }}">
                {{ presentation.customer.name }}
            </a>
        </p>
        <div class="main_banner">
            <img src="{{ presentation.main_banner.url }}" alt="Main Banner">
        </div>
        <p class="grey-header">STAGES OF DEVELOPMENT</p>
        <div class="custom-info-block">
            {% for article in articles %}
                <div class="info-line">
                    <div class="article-item">
                        <div class="article-circle">
                            <p class="article-counter" data-text-color="{{ article.counter_color }}"
                               data-color="{{ colors.0.code }}">
                                {% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }}
                            </p>
                        </div>
                        {% if articles|length != forloop.counter %}
                            <div class="article-line" data-color="{{ colors.0.code }}">
                                <svg class="line-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12h14M12 5l7 7-7 7"/>
                                </svg>
                            </div>
                        {% endif %}
                        <div class="article-content">
                            <p class="article-content-header">{{ article.header }}</p>
                            <p class="article-content-text">{{ article.text }}</p>
                        </div>
                    </div>
                    {% comment %}
                    Делаем хардкод потому что тут 3 этапа работы и они должны быть выровнены
                    {% endcomment %}
                    {% if article.position == 1 %}
                        <div class="font-color-block" style="background: {{ presentation.font_color_background }}"
                             data-color="{{ colors.0.code }}">
                            <div class="star_span">
                                <svg width="41" height="41" viewBox="0 0 41 41" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.5 0L24.7038 16.2962L41 20.5L24.7038 24.7038L20.5 41L16.2962 24.7038L0 20.5L16.2962 16.2962L20.5 0Z"
                                          fill="{{ colors.0.code }}"/>
                                </svg>
                                <p class="font-color-header">FONTS</p>
                            </div>
                            <div class="fonts-container">
                                {% for font in fonts %}
                                    <div class="fonts-item" id="font_{{ font.id }}" data-font-id="{{ font.id }}">
                                        <span class="Aa">Aa</span>
                                        <span class="font-name" data-color="{{ colors.0.code }}">{{ font.name }}</span>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="">
                                <div class="star_span">
                                    <svg width="41" height="41" viewBox="0 0 41 41" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20.5 0L24.7038 16.2962L41 20.5L24.7038 24.7038L20.5 41L16.2962 24.7038L0 20.5L16.2962 16.2962L20.5 0Z"
                                              fill="{{ colors.0.code }}"/>
                                    </svg>
                                    <p class="font-color-header">COLORS</p>
                                </div>
                                <div class="colors-container">
                                    {% for color in colors %}
                                        <div class="color-item-container"
                                             data-color="{{ colors.0.code }}"
                                             style="color: {{ color.color }}; background: {{ color.code }}; opacity: 0"
                                        >
                                            {{ color.code }}
                                        </div>
                                        <div class="color-item-container-beautiful"
                                             data-color="{{ colors.0.code }}"
                                             style="color: {{ color.color }}; background: {{ color.code }}"
                                             id="color-item-container-beautiful_{{ forloop.counter }}"
                                        >
                                            {{ color.code }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if article.position == 2 %}
                        <div>
                            <p class="about_customer" data-color="{{ colors.0.code }}">
                                {{ presentation.about_customer }}
                            </p>
                        </div>
                    {% endif %}
                    {% if article.position == 3 %}
                        <div class="benefits-container">
                            {% for benefit in benefits %}
                                <div class="star_span">
                                    <svg width="41" height="41" viewBox="0 0 41 41" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20.5 0L24.7038 16.2962L41 20.5L24.7038 24.7038L20.5 41L16.2962 24.7038L0 20.5L16.2962 16.2962L20.5 0Z"
                                              fill="{{ colors.0.code }}"/>
                                    </svg>
                                    <p class="benefits-text">{{ benefit.text }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="slides-block">
            <p class="grey-header">SLIDES</p>
            <div class="slides-container">
                {% for slide in slides %}
                    <div class="slide" data-modal="slide_modal_{{ forloop.counter }}">
                        <img class="slide-item-img" src="{{ slide.slide_image.url }}" alt="Slide">
                    </div>
                    <div class="modal" id="slide_modal_{{ forloop.counter }}">
                        <div class="modal-content">
                            <img src="{{ slide.slide_image.url }}" class="modal-img" alt="slide-modal">
                            <div class="modal-close">
                                <svg width="11" height="11" viewBox="0 0 19 19" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L17.9706 17.9706" stroke="white" stroke-width="2"
                                          stroke-linecap="round"/>
                                    <path d="M17.9707 1L1.00014 17.9706" stroke="white" stroke-width="2"
                                          stroke-linecap="round"/>
                                </svg>
                                <p>закрыть</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/presentation-detail.js' %}"></script>
{% endblock %}