{% extends "base.html" %}
{% load static %}
{% block title %}{{ page_title }}
{% endblock %}
{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static "css/presentations.css" %}">
{% endblock %}
{% block content %}
    <h1>{{ page_title }}</h1>
    <div class="presentation-list">
        {% for presentation in object_list %}
            <div class="presentation-item">
                <h2>{{ presentation.name }}</h2>
                <a href="{% url "presentation_detail" presentation.slug_name %}">
                    <img src="{% static presentation.main_banner %}" alt="Banner for {{ presentation.name }}">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}