.main_page_container {
    width: 90%;
    margin: 0 auto;
}

.first-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

/*----------------------------------------------------------------------*/

.scroll-down-container {
    display: none;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: -235px;
}

.scroll-down-arrows-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-down-arrows-container svg {
    margin-top: 10px;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        transform: translateY(12px);
        opacity: 1;
    }
}

.scroll-down-arrows-container svg {
    animation: float 4s ease-in-out infinite;
}

.scroll-down-arrows-container svg:nth-child(2) {
    animation-delay: 0.2s;
}

.scroll-down-arrows-container svg:nth-child(3) {
    animation-delay: 0.4s;
}

/*----------------------------------------------------------------------*/
.portfolio {
    text-align: center;
    margin: 0 auto;
    position: relative;
    height: 100%;
    width: 100%;
    top: 418px;
    font-size: 140px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.line {
    flex: 1;
    height: 2px;
    background-color: #888888;
    margin: 0 10px;
    color: #FFFFFF;
}

.title {
    text-align: center;
    white-space: nowrap;
    padding: 0 10px;
    font-weight: 300;
    font-size: 32px;
    line-height: 38.39px;
    font-style: normal;
    letter-spacing: 9px;
}

/*---------------------------*/

#bg-video {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

.content {
    position: relative;
    z-index: 100;
}

/*---------------------------*/
.arts-container {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    justify-content: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.arts-head {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.arts-item {
    cursor: pointer;
    width: calc(50% - 20px);
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для плиток, если нужно */
    overflow: hidden;
}

.arts-item img {
    width: 100%;
    display: block; /* Убираем стандартные отступы для изображений */
    height: auto;
    transition: transform 0.3s ease-in-out; /* Плавное увеличение изображения при наведении */
}

.arts-item:hover img {
    transform: scale(1.05); /* Увеличение изображения при наведении */
}

/*---------------------------*/
.preview-container {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    justify-content: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.preview-head {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.preview-item {
    width: calc(50% - 20px);
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для плиток, если нужно */
    overflow: hidden;
}

.preview-item img {
    width: 100%;
    display: block; /* Убираем стандартные отступы для изображений */
    height: auto;
    transition: transform 0.3s ease-in-out; /* Плавное увеличение изображения при наведении */
}

.preview-item:hover img {
    transform: scale(1.05); /* Увеличение изображения при наведении */
}

/*---------------------------*/
.creatives-container {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    justify-content: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.creatives-head {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.creatives-item {
    cursor: pointer;
    width: calc(33% - 20px);
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для плиток, если нужно */
    overflow: hidden;
}

.creatives-item img {
    width: 100%;
    display: block; /* Убираем стандартные отступы для изображений */
    height: auto;
    transition: transform 0.3s ease-in-out; /* Плавное увеличение изображения при наведении */
}

.creatives-item:hover img {
    transform: scale(1.05); /* Увеличение изображения при наведении */
}

/*---------------------------*/
.presentations-container {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    justify-content: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.presentation-item {
    cursor: pointer;
    margin: 10px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для плиток, если нужно */
    overflow: hidden;
}

.presentation-item a img {
    width: 100%;
    border-radius: 40px;
    display: block; /* Убираем стандартные отступы для изображений */
    height: auto;
    transition: transform 0.3s ease-in-out; /* Плавное увеличение изображения при наведении */
}

.presentation-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: block;
    height: auto;
    border-radius: 40px;
    transition: transform 0.3s ease-in-out; /* Плавное увеличение изображения при наведении */
}

.presentation-item:hover a img {
    transform: scale(1.05);
    border-radius: 40px;
}

.info {
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: right;
    transform: translateY(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    width: 100%;
}

.presentation-item:hover .info {
    transform: translateY(0);
    opacity: 1;
}

.learn-more-container {
    margin-right: 50px;
    z-index: 900;
}

.learn-more-container .learn-more {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.5s ease;
}

.info svg {
    transition: fill 0.5s ease;
}

.presentation-item:hover .info {
    transform: translateY(0);
}

.presentation-item:hover .learn-more {
    opacity: 1;
}

.learn-more p {
    font-weight: 500;
}


/*---------------------------*/

.banners-container {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    justify-content: space-between;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.banners-head {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.horizontal-banner {
    width: 100%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.vertical-banner {
    width: 32%;
    margin: 5px;
    overflow: hidden;
}

.square-banner {
    width: 32%;
    margin: 5px;
    overflow: hidden;
}

.banners-item {
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.banners-item img {
    width: 100%;
    display: block; /* Убираем стандартные отступы для изображений */
    height: auto;
    transition: transform 0.3s ease-in-out; /* Плавное увеличение изображения при наведении */
}

.banners-item:hover img {
    transform: scale(1.05); /* Увеличение изображения при наведении */
}

/*-----------------------------------*/