body {
    font-family: 'Arial', sans-serif;
    background-color: #040509;
    color: #ffffff;
    margin: 0;
}

p {
    font-family: 'TT Travels', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.presentation_company {
    text-align: center;
    font-size: 24px;
}

.presentation_company a {
    text-decoration: unset;
}

.main_banner img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 40px;
    margin-bottom: 100px;
}

.grey-header {
    font-family: 'TT Travels', sans-serif;
    color: #505050;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 70px;
}

.star_span {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}

.star_span p {
    text-align: left;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 500;
    width: 100%;
}

/*------------------------------------------------------*/

.info-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.articles-container {
    max-width: 45%;
    margin-right: 80px;
}

.article-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.article-counter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article-counter {
    font-size: 25px;
    font-weight: 600;
    margin-top: 23px;
}

.article-circle {
    border-radius: 55px;
    width: 46px;
    height: 77px;
    text-align: center;
}

.article-line {
    width: 2px;
    height: 70%;
    text-align: center;
}

.article-content {
    margin-left: 40px;
    margin-top: 20px;
}

.article-content-header {
    font-size: 50px;
    font-weight: 600;
    margin-top: -10px;
    margin-bottom: 30px;
}

.article-content-text {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 100px;
    line-height: 1.6;
}

.additional-info {
    margin-left: 120px;
}

.font-color-block {
    border-radius: 40px;
    padding: 30px;
}

.color-item-container {
    font-weight: 500;
    font-size: 32px;
    border-radius: 45px;
    text-align: center;
    width: 180px;
    padding: 10px;
}

.colors-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.about_customer {
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 50px;
}

/*------------------------------------------------------*/
/*slides*/

.slides-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 100%;
}

.slide {
    border-radius: 10px;
    cursor: pointer;
    width: calc(32%);
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.slide-item-img {
    border-radius: 10px;
    width: 100%;
    display: block;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.slide-item-img:hover {
    transform: scale(1.05);
}

/*------------------------------------------------------*/
.benefits-container {
    margin-top: 100px;
}

.fonts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center
}

.Aa {
    font-size: 35px;
    margin: 0;
}

.fonts-item {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.font-name {
    margin: 0;
}
