{% load static %}
{% block styles %}
    <link href="{% static 'css/header.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

<div class="navbar-container">
    <div class="navbar">
        <div class="navbar-items-container">
            <a href="#arts">Arts</a>
            <a href="#preview">Preview</a>
            <a href="#presentations">Presentations</a>
            <a href="#creatives">Creatives</a>
            <a href="#banners">Banners</a>
            <a href="#web-sites">Web-sites</a>
            <a href="#motion">Motion</a>
        </div>
    </div>
</div>