{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/main.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block title %}Портфолио{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block extra_head %}
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/main_page.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="first-container">
        <div class="video-background">
            <video playsinline autoplay muted loop id="bg-video">
                <source src="{% static 'video/start.mp4' %}" type="video/mp4">
            </video>
        </div>
        <div class="scroll-down-container">
            <p class="scroll-down-text">Листай вниз! Это просто красивая анимашка)</p>
            <div class="scroll-down-arrows-container">
                <svg width="30" height="17" viewBox="0 0 30 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5858 16.4142C14.3668 17.1953 15.6332 17.1953 16.4142 16.4142L29.1421 3.68629C29.9232 2.90524 29.9232 1.63891 29.1421 0.857865C28.3611 0.0768162 27.0948 0.0768161 26.3137 0.857865L15 12.1716L3.68629 0.857864C2.90524 0.0768151 1.63891 0.076815 0.857865 0.857864C0.0768161 1.63891 0.0768161 2.90524 0.857865 3.68629L13.5858 16.4142ZM13 14L13 15L17 15L17 14L13 14Z"
                          fill="white" fill-opacity="1"/>
                </svg>
                <svg width="30" height="17" viewBox="0 0 30 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5858 16.4142C14.3668 17.1953 15.6332 17.1953 16.4142 16.4142L29.1421 3.68629C29.9232 2.90524 29.9232 1.63891 29.1421 0.857865C28.3611 0.0768162 27.0948 0.0768161 26.3137 0.857865L15 12.1716L3.68629 0.857864C2.90524 0.0768151 1.63891 0.076815 0.857865 0.857864C0.0768161 1.63891 0.0768161 2.90524 0.857865 3.68629L13.5858 16.4142ZM13 14L13 15L17 15L17 14L13 14Z"
                          fill="white" fill-opacity="0.5"/>
                </svg>
                <svg width="30" height="17" viewBox="0 0 30 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5858 16.4142C14.3668 17.1953 15.6332 17.1953 16.4142 16.4142L29.1421 3.68629C29.9232 2.90524 29.9232 1.63891 29.1421 0.857865C28.3611 0.0768162 27.0948 0.0768161 26.3137 0.857865L15 12.1716L3.68629 0.857864C2.90524 0.0768151 1.63891 0.076815 0.857865 0.857864C0.0768161 1.63891 0.0768161 2.90524 0.857865 3.68629L13.5858 16.4142ZM13 14L13 15L17 15L17 14L13 14Z"
                          fill="white" fill-opacity="0.25"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="main_page_container">
        {% if arts %}
            <div id="arts">
                <div class="title-container">
                    <div class="line"></div>
                    <h1 class="title">ARTS</h1>
                    <div class="line"></div>
                </div>
                <div class="arts-container">
                    {% for art in arts %}
                        <div class="arts-item content-item" data-modal="art_modal_{{ forloop.counter }}">
                            <img class="tilt" src="{{ art.preview.url }}" data-color="{{ art.color }}" alt="Art">
                        </div>
                        <div class="modal" id="art_modal_{{ forloop.counter }}">
                            <div class="modal-content">
                                <img src="{{ art.preview.url }}" class="modal-img" alt="art-modal">
                                <div class="modal-close">
                                    <svg width="11" height="11" viewBox="0 0 19 19" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L17.9706 17.9706" stroke="white" stroke-width="2"
                                              stroke-linecap="round"/>
                                        <path d="M17.9707 1L1.00014 17.9706" stroke="white" stroke-width="2"
                                              stroke-linecap="round"/>
                                    </svg>
                                    <p>закрыть</p>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if previews %}
            <div id="preview">
                <div class="title-container">
                    <div class="line"></div>
                    <h1 class="title">PREVIEW</h1>
                    <div class="line"></div>
                </div>

                <div class="preview-container">

                    {% for preview in previews %}
                        <div class="preview-item content-item" data-modal="preview_modal_{{ forloop.counter }}">
                            <img class="tilt" src="{{ preview.preview.url }}" alt="Preview">
                        </div>
                        <div class="modal" id="preview_modal_{{ forloop.counter }}">
                            <div class="modal-content">
                                <img src="{{ preview.preview.url }}" class="modal-img" alt="preview-modal">
                                <div class="modal-close">
                                    <svg width="11" height="11" viewBox="0 0 19 19" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L17.9706 17.9706" stroke="white" stroke-width="2"
                                              stroke-linecap="round"/>
                                        <path d="M17.9707 1L1.00014 17.9706" stroke="white" stroke-width="2"
                                              stroke-linecap="round"/>
                                    </svg>
                                    <p>закрыть</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if presentations %}
            <div id="presentations">
            <div class="title-container">
                <div class="line"></div>
                <h1 class="title">PRESENTATIONS</h1>
                <div class="line"></div>
            </div>
            <div class="presentations-container">
                {% for presentation in presentations %}
                    <div class="presentation-item">
                        <a href="{% url 'presentation_detail' presentation.slug_name %}">
                            <img src="media/{{ presentation.main_banner }}" alt="Presentation Image">
                            <div class="info">
                                <div class="learn-more-container" >
                                    <a href="#" class="learn-more">
                                        <p>learn more</p>
                                    </a>
                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.585786 19.5858C-0.195262 20.3668 -0.195262 21.6332 0.585786 22.4142C1.36684 23.1953 2.63316 23.1953 3.41421 22.4142L0.585786 19.5858ZM23 2C23 0.895429 22.1046 -1.81001e-06 21 -9.67075e-07L3 -1.38854e-06C1.89543 -1.38854e-06 1 0.895429 1 2C1 3.10457 1.89543 4 3 4L19 4L19 20C19 21.1046 19.8954 22 21 22C22.1046 22 23 21.1046 23 20L23 2ZM3.41421 22.4142L22.4142 3.41421L19.5858 0.585785L0.585786 19.5858L3.41421 22.4142Z"
                                              fill="white"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if creatives %}

            <div id="creatives">
                <div class="title-container">
                    <div class="line"></div>
                    <h1 class="title">CREATIVES</h1>
                    <div class="line"></div>
                </div>
                <div class="creatives-container">
                    {% for creative in creatives %}
                        <div class="creatives-item content-item" data-modal="creative_modal_{{ forloop.counter }}">
                            <img class="tilt" src="{{ creative.creative.url }}" alt="Creative">
                        </div>
                        <div class="modal" id="creative_modal_{{ forloop.counter }}">
                            <div class="modal-content">
                                <img src="{{ creative.creative.url }}" class="modal-img" alt="creative-modal">
                                <div class="modal-close">
                                    <svg width="11" height="11" viewBox="0 0 19 19" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L17.9706 17.9706" stroke="white" stroke-width="2"
                                              stroke-linecap="round"/>
                                        <path d="M17.9707 1L1.00014 17.9706" stroke="white" stroke-width="2"
                                              stroke-linecap="round"/>
                                    </svg>
                                    <p>закрыть</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if banners %}
            <div id="banners">
                <div class="title-container">
                    <div class="line"></div>
                    <h1 class="title">BANNERS</h1>
                    <div class="line"></div>
                </div>
                <div class="banners-container">
                    {% for banner in banners %}

                        <div class="banners-item 
                            {% if banner.banner_type == banner.BANNERS_TYPES.horizontal %}
                            horizontal-banner
                            {% elif banner.banner_type == banner.BANNERS_TYPES.vertical %}
                            vertical-banner
                            {% else %}
                            square-banner
                            {% endif %} content-item"
                             data-modal="banner_modal_{{ forloop.counter }}"
                        >
                            <img src="{{ banner.banner.url }}" alt="Banner">
                        </div>
                        <div class="modal" id="banner_modal_{{ forloop.counter }}">
                            <div class="modal-content">
                                <img src="{{ banner.banner.url }}" class="modal-img" alt="banner-modal">
                                <div class="modal-close">
                                    <svg width="11" height="11" viewBox="0 0 19 19" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L17.9706 17.9706" stroke="white" stroke-width="2"
                                              stroke-linecap="round"/>
                                        <path d="M17.9707 1L1.00014 17.9706" stroke="white" stroke-width="2"
                                              stroke-linecap="round"/>
                                    </svg>
                                    <p>закрыть</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if web_sites %}
            <div id="web-sites">
                <div class="title-container">
                    <div class="line"></div>
                    <h1 class="title">WEB-SITES</h1>
                    <div class="line"></div>
                </div>
                <div class="web-sites-container">
                    {% for web_site in web_sites %}

                        <div class="web-sites-item {% if banner.banner_type == banner.BANNERS_TYPES.horizontal %}horizontal-banner{% elif banner.banner_type == banner.BANNERS_TYPES.vertical %}vertical-banner{% else %}square-banner{% endif %} ">
                            <img src="media/{{ banner.banner }}">
                        </div>

                    {% endfor %}
                </div>
            </div>
        {% endif %}
        </div>
{% endblock %}